@-webkit-keyframes up-down {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}
@keyframes up-down {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}