._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.footer__top {
  background-color: #323232;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__bottom {
  background-color: #fd5c5c;
  -webkit-box-shadow: -3px 4px 7px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -3px 4px 7px 0px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer__question {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 30px;
  line-height: 106.6666666667%;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 0px 40px 0px 0px;
}

.top-footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-footer__btn a {
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 56px;
  background-color: #ffffff;
  border-radius: 28px;
  padding: 0px 20px 0px 20px;
  font-size: 30px;
  text-transform: uppercase;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  color: #323232;
}

.bottom-footer__top {
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #fafafa;
  position: relative;
}

.bottom-footer__top::before,
.bottom-footer__top::after {
  content: "";
  position: absolute;
  width: 100px;
  background-color: #fafafa;
  height: 1px;
  display: block;
  bottom: -1px;
  opacity: 0.6;
}

.bottom-footer__top::after {
  right: -100px;
}

.bottom-footer__top::before {
  left: -100px;
}

.bottom-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.bottom-footer__menu > li:not(:last-child) {
  margin: 0px 35px 0px 0px;
}

.bottom-footer__link {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 0px 5px 0px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  transition: 0.8s;
  color: #ffffff;
}

.bottom-footer__social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.bottom-footer__social-menu > li:not(:last-child) {
  margin-right: 50px;
}

.bottom-footer__social-link {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #fafafa;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__social-link::before {
  color: #fd5c5c;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 18px;
}

.bottom-footer__location {
  text-align: center;
}

.bottom-footer__location-link,
.bottom-footer__bottom {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.bottom-footer__bottom {
  padding: 30px 0px 0px 0px;
  text-align: center;
}

@media (max-width: 1130px) {
  .footer__top {
    padding-top: calc(20px + 30 * ((100vw - 320px) / (810)));
  }

  .footer__top {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / (810)));
  }

  .footer__bottom {
    padding-top: calc(20px + 30 * ((100vw - 320px) / (810)));
  }

  .footer__bottom {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / (810)));
  }

  .top-footer__question {
    font-size: calc(18px + 12 * ((100vw - 320px) / (810)));
  }

  .bottom-footer__menu {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / (810)));
  }

  .bottom-footer__link {
    font-size: calc(18px + 4 * ((100vw - 320px) / (810)));
  }

  .bottom-footer__social-menu > li:not(:last-child) {
    margin-right: calc(20px + 30 * ((100vw - 320px) / (810)));
  }

  .bottom-footer__social-menu {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / (810)));
  }
}

@media (max-width: 600px) {
  .bottom-footer__menu > li:not(:last-child) {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 500px) {
  .top-footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .top-footer__question {
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
}

@media (any-hover: hover) {
  .footer__top {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    opacity: 0;
  }

  .footer__top._active {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }

  .footer__bottom {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  .footer__bottom._active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .top-footer__btn a:hover {
    color: orangered;
  }

  .bottom-footer__link:hover {
    text-decoration: underline;
  }

  .bottom-footer__social-link:hover::before {
    color: #f32323;
  }
}